.AddTaskHeader {
    color: white;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

.AddTaskHeader-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.AddTaskHeader-top h4 {
    margin-right: 0.75em;
}

.AddTaskHeader-bottom {
    border: 1px solid white;
    padding: 1em;
    border-radius: 50%;
    align-self: center;
}