.AddTaskHeader {
  color: white;
  display: flex;
  flex-direction: column;
}

.AddTaskHeader-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AddTaskHeader-top h4 {
  margin: 0;
  margin-right: 0.75em;
}

.AddTaskHeader-bottom {
  border: 1px solid white;
  margin: 1em 0em 3em 0em;
  padding: 1em;
  border-radius: 50%;
  align-self: center;
}
