.Main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.Main-wrap {
    background-color: white;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.Main-wrap h5 {
    margin: 0;
    color:
        rgb(150, 150, 150);
}

.loader {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
}

.loader img {
    object-fit: contain;
    max-width: 100%;
}

.Main-overlay {
    position: absolute;
    height: 5em;
    bottom: 0;
    left: 0%;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
    width: 100%;
}