.AddTask {
    background: #431599;
    height: 100%;
    margin: 0 auto;
}


@media (min-width: 768px) {
    .AddTask {
        width: 66%;
    }
}

@media (min-width: 992px) {
    .AddTask {
        width: 33%;
    }
}