.Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Footer h5 {
    color: rgb(150, 150, 150);
    margin: 0;
}

.completed {
    background: gray;
    color: white;
    border-radius: 50%;
    padding: 0.5em 0.75em;
    margin-left: 0.5em;
}

.Footer-addBtn {
    background: #159957;
    padding: 0.5em;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    box-shadow: 1px 1px 10px #159957;
    transition: background 0.25s ease-in-out;
}

.Footer-addBtn:hover {
    background: #23e483;
}
